*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#nav-bar {
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-link {
  color:whitesmoke;
  list-style-type: none;
}

/* Links inside the navbar */
#nav-bar a {
  float: left;
  font-size: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* The dropdown container */
.menu {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.menu .menu-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.menu-btn:hover {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.menu-content {
  display:none;
  position: absolute;
  background-color: #332;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.menu-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.menu-content a:hover {
  background-color: #272323;
}

/* Show the dropdown menu on hover */
.menu:hover .menu-content {
  display: block;
} 

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0.25em;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 700px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #a39797;
  cursor: pointer;
}

main {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 2em;
}

img {
  margin: 1.5em 0;
}

main iframe {
  margin-bottom: 2em;
}

.hero-top {
  border-bottom: 1px dotted #3c3434;  
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

footer h2 {
  margin-bottom: 0px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 50%;
}

#name, 
#email {
  border-radius: 10px;
  border: none;
  padding: 0.5em 1em;
}

#name,
#email,
textarea {
  background-color: #322d2d;
  color: white;
}

textarea {
  border: none;
  border-radius: 10px;
}

#submit {
  font-weight: 900;
  background-color: rgb(217, 183, 139);
  border-radius: 10px;
  border: none;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

#submit:hover {
  background-color: rgb(176, 152, 123);
  cursor: pointer;
}

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  padding-top: 1.5em;
  width: 250px;
  height: 300px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #a39797;
  margin: 1em;
  border-radius: 15px;
}

.btn {
  padding: 1em;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: antiquewhite;
}

.btn:hover {
  background-color:bisque;
}

@media (min-width: 650px) {
  #header {
    justify-content: space-between;
    padding: 0 3em;
  }

  #pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}