*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#header {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
}

img {
  margin: 2em;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-link {
  padding: 0;
  color:#000;
  margin: 0.5em;
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0.25em;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 700px;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
}

li {
  padding: 0.25em 0;
  list-style-type: none;
}

a:hover {
  background-color: #a39797;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 0 1em;
}

main iframe {
  margin-bottom: 2em;
}

.hero {
  border-bottom: 1px dotted #3c3434;  
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

footer h2 {
  margin-bottom: 0px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 50%;
}

#name, 
#email {
  border-radius: 10px;
  border: none;
  padding: 0.5em 1em;
}

#name,
#email,
textarea {
  background-color: #322d2d;
  color: white;
}

textarea {
  border: none;
  border-radius: 10px;
}

#submit {
  font-weight: 900;
  background-color: rgb(217, 183, 139);
  border-radius: 10px;
  border: none;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

#submit:hover {
  background-color: rgb(176, 152, 123);
  cursor: pointer;
}

.backToTop a {
  border: 1px solid #322d2d;
  background-color:aqua;
  padding: 0.25em 0.5em;
  border-radius: 20px;
}

.backToTop a:hover {
  background-color:aquamarine;
}

.backToTop {
  position: fixed;
  bottom: 1em;
  right: 0.125em;
}